.cards {
    display: flex;
    justify-content: space-around;
      flex-wrap: nowrap;
}
.card{
  text-align: center;
    text-decoration: none;
    background-color: gainsboro;
    box-shadow: 3px 11px 10px 5px gainsboro;
    border-radius: 15px;
}